

* {
    font-size: 12pt;
}

.form {
  
    width: 80vw; 
    margin: 30px auto;
    background-color: blueviolet;
    border: darkslategrey 2px dotted;
}

 @media (min-width: 576px) {
     .form  {
     width: 50vw;
    }
}

output {
    font-weight: 600;
}
